@{
    ViewData["Title"] = "Roya lLibrary";
}
<div class="row">
    <div class="col-md-4">
        <h3>APIs</h3>
        Shows Controller
        <ul>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
    </div>
</div>
